.MainDisplay {
  background-image: url('./images/mainDisplayDesktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 43rem;
  width: 100%;
}



@media only screen and (max-width: 1200px) {
  .MainDisplay {
    background-image: url('./images/mainDisplayMobile.png');
  }
}

@media only screen and (max-width: 675px) {
  .MainDisplay {
    background-image: url('./images/mainDisplayMobileSmall.png');
  }
}

@media only screen and (max-width: 666px) {

}
