.NavBar-show-types ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbe8d3;
  height: 3rem;
  width: auto;
}

#NavLink {
  display: flex;
  float: left;
  align-items: baseline;
}

.a:hover {
  background-color: #e8d6c8;
  transition: color .25s;
}


.a {
  width: 100%;
  height: 1.1rem;
  margin-top: .2rem;
  display: block;
  line-height: .8rem;
  color: #434343;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.activelink {
  border-bottom: 5px solid #434343;
}

.NavBar img {
  height: 2.5rem;
  margin: auto;
}

.NavBar {
  height: 3rem;
  margin-bottom: 0rem;
  display: flex;
  width: 100%;
  background-color: #fbe8d3
}

.icons {
  float: right;
  display: flex;
  margin-right: 1.5rem;
}

.icons li a img {
  width: 1.5rem;
  height: auto;
  margin: .7rem 1rem;
}

.mainLogodiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 624px) {


  #NavLink {
    padding: 0 .1rem;
    font-size: .8rem;

  }
  .a {
    height: 1.8rem;
    margin: .9rem 0;
    padding: 0;
  }


  header .mainLogodiv .tectuslogo {
    padding-left: 0rem;
    width: 6rem;
    height: auto;
  }

  .icons li a img {
    width: 1.4rem;
    margin: .7rem 0rem .7rem 1rem;
  }


}
